In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr

In [2]:
spark = SparkSession.builder.appName("Media").getOrCreate()

In [3]:
spark

In [4]:
datosPacientesDiabetes =[("Juan Pablo", 32), ("Ernesto Ruiz",24), ("Daniel Castro",30), ("Pablo", 28), ("Alexis Sanchez", 20), ("Cristobal Nu√±ez", 27), ("Ana Frank", 30), ("Carlos Salcedo", 21)]
columns = ["Nombre Paciente", "Edad"]
variable = spark.createDataFrame(datosPacientesDiabetes, columns)

In [8]:
variable.select(mean(col("Edad")).alias("Media de Edades de los pacientes con diabetes")).show()

+---------------------------------------------+
|Media de Edades de los pacientes con diabetes|
+---------------------------------------------+
|                                         26.5|
+---------------------------------------------+